.formcontrol{

}
.formControl.error input, .formControl.error textarea{
    border: #e80d0d solid 2px;
}
.formControl.error span{
    color: #e80d0d;
}
.formSummuryErrot{
    border: red 1px solid;
    color: red;
    padding: 5px;
    width: 56px;
}